{
    "env": {
        "esm": {
            "presets": [
                ["env", { "modules": false } ]
            ]
        },
        "development": {
            "presets": ["env"],
            "plugins": [
                "add-module-exports",
                "transform-es2015-modules-umd"
            ]
        },
        "production": {
            "presets": ["env", "minify"],
            "plugins": [
                "add-module-exports",
                "transform-es2015-modules-umd"
            ]
        },
        "test": {
            "presets": ["env"]
        }
    }
}
